/** Inheritance og dót ***/

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
}

/** Stærð á letri erfist frá foreldri í form element **/
input,
button,
select {
  font-size: inherit;
}

/** Þetta setur grunnvídd sem gildir fyrir allt efni **/
main{
    min-height: 100vh;

      section{
        margin-bottom: var(--gutter);
      }
}

header ,
main,
footer {
    max-width: var(--max-width);
    margin:auto;
    
}

@media (width <= 1232){
  header,
  main,
  footer{
    max-width: calc(100vw - 32px );
  }
}
