/**Hérna er footer stilltur**/
footer{
    max-width: inherit;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    border-top: var(--border-general);
    min-height: 30vh;

    section{
        grid-column: span 3 ;
    }

    ul{
        list-style: none;
    }
}

/** Hér eru gildin fyrir footer logos **/
footer .samfelagsmidlar img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  display: block;
}

footer .samfelagsmidlar {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}