div.cardGrid {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: row;
    column-gap: var(--gutter);
    row-gap: var(--gutter);

    > div,
    > article {
        border: var(--border-general);
        border-radius: 10px;
    }

    .cardReview {
        display:block;
        grid-column: span 6;
    }

    .cardLausn {
        display:block;
        grid-column: span 4;
    }

    > article.lausnirSida {
        display:block;
        grid-column: span 6;
    }
}