.sr-only:not(:focus, :active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: rect(1px 1px 1px 1px round 20%);
  clip-path: inset(50%);
}

/** Stíl fyrir takka **/
.button{
  display:inline-flex; align-items:center; justify-content:center;
  padding: 10px 16px;
  font-weight:600; line-height:1; text-decoration:none; border:1px solid currentcolor; border-radius: 8px;
}

.button-adal { 
  color:black; 
  background: white; border-color: white;

}

.button-glaer {
  background: transparent;
}

.button:focus-visible {
  outline:2px solid; outline-offset:2px;
}